<div class="banner">
  <div class="container">
    <h1 class="text-center">Air-BnB for Pools</h1>
    <p class="text-center">Are you having a staycation? Find a pool in your city & refresh yourself!.</p>
    <%= link_to 'Browse our offers', pools_path, class: "btn btn-ghost btn-block mt-3"  %>

      <p class="text-center mt-3">or</p>
  <%= link_to 'Offer your pool', new_pool_path, class: "btn btn-ghost-light btn-block mt-3"  %>
  </div>
</div>

